extends layout.pug

block content
    if(errormessage != "")
        p(class='alert alert-danger') #{errormessage}
    else
        div(class="container")
            div(class="row")
                div(class="col-md-5")
                    form(action="/submit", method="POST")
                        .form-group
                            label.col-form-label Guest Name
                            input.form-control(name="guest", type="text", placeholder="")
                        .form-group
                            label.col-form-label Guest Message
                            textarea.form-control(name="message", cols="30", rows="3", placeholder="")
                        button.btn.btn-primary(role="submit") Submit
                div(class="col-md-7")
                    p Guestbook Entries
                    hr
                    .row
                        if guests !== undefined
                            each guest in guests
                                if guest !== undefined
                                    .col-sm-12.mt-3
                                        .card
                                            .card-body
                                                a(class="btn btn-danger delete-btn" href=`/guest/${guest._id}/delete`) X
                                                blockquote.blockquote.mb-0
                                                    p #{guest.message}
                                                    footer.blockquote-footer #{guest.guest} on #{guest.date}